body:before {
    content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
	display:block;
    background-image: url("../images/backgroundV4.gif");
    background-color:#050113; 
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
}

.flex-1 {
    height: 100px;
}

.btn {
    border: none;
}

.logo {
    height: 5em;
    margin-left: 13px;
    padding-right: 18px;
}

.m-4 {
    padding-bottom: 10px;
    background: url("../images/buttonWhite.svg") no-repeat;
}

.m-4:hover {
    background: url("../images/buttonGreen.svg") no-repeat;
}

.container1, .container2 {
    font-family: 'Noto Sans Mono', monospace;
}

.container1 {
    margin-top: 8%;
    text-align: center;
}

.welcometo {
    font-size: 2em;
}

.planitu {
    font-size: 4em;
}

.slogan {
    margin-bottom: 1%;
    font-size: 1em;
}

.container2 {
    margin-top: 20%;
    margin-left: 4%;
    margin-bottom: 20%;
    width: 40%;
}

.ack > h2, .ack > h3 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.ack > h3 {
    padding-bottom: 50px;
}


/*
.info {
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
}
*/