body:before {
    content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
	display:block;
    background-image: url("../images/backgroundV4.gif");
    background-color:#050113;
}

.navbar {
    background-color:#050113;
}

.flex-1 {
    height: 100px;
}

.btn {
    border: none;
}

.logo {
    height: 5em;
    margin-left: 13px;
    padding-right: 18px;
}

.m-4 {
    padding-bottom: 10px;
    background: url("../images/buttonWhite.svg") no-repeat;
}

.m-4:hover {
    background: url("../images/buttonGreen.svg") no-repeat;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr;
    position: relative;
    width: 55%;
    margin: 0 auto;
}

.login-background {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    z-index: 0;
}

.form-title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    margin: auto;
    font-size: 20px;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: bold;
    color:#a7cbe8;
}

.login-form {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 1;
}

.form-control {
    margin: 0 auto;
    padding-bottom: 10px;
}

.label-text {
    font-size: 15px;
    font-family: 'Noto Sans Mono', monospace;
    color:#a7cbe8;
}

input[type=email], input[type=password] {
    border: 1px solid;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 6px;
    font-size: 14px;
}

.form-info {
    font-size: 14px;
    font-family: 'Noto Sans Mono', monospace;
    color:#a7cbe8;
}

input[type=submit] {
    margin: 2px 0;
    padding: 10px 16px;
    border: 1px;
    border-color: #A7CBE8;
    font-family: 'Noto Sans Mono', monospace;
    color: #A7CBE8;
}

input[type=submit]:hover {
    border: 1px;
    border-color: #81F57C;
    color: #81F57C;
}

