body:before {
    content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
	display:block;
    background-image: url("../images/backgroundV4.gif");
    background-color:#050113;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
}
  
.flex-1 {
    height: 100px;
}
  
.btn {
    border: none;
}
  
.logo {
    height: 5em;
    margin-left: 13px;
    padding-right: 18px;
}
  
.m-4 {
    padding-bottom: 10px;
    background: url("../images/buttonWhite.svg") no-repeat;
}
  
.m-4:hover {
    background: url("../images/buttonGreen.svg") no-repeat;
}

#lSide {
    max-width: 25%;
    width: 25%;
}

#rSide {
    max-width: 75%;
    width: 75%;
}

#wrapper {
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
}

.menu-title {
    padding-top: 1em;
    padding-bottom: 1em;
}

.btn-group {
    padding-top: 1em;
    padding-bottom: 1em;
}

#text-input {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 15em;
}

#select-planit {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 15em;
}

.btn {
    padding-top: 1em;
    padding-bottom: 1em; 
}
  