body:before {
    content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
	display:block;
    background-image: url("../images/backgroundV4.gif");
    background-color:#050113;
    background-position: center;
    background-size: cover;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
}

.flex-1 {
    height: 100px;
}

.logo {
    height: 5em;
    width: 7%;
    margin-left: 13px;
    padding-right: 18px;
    background: url("../images/logo.svg") no-repeat;
}

.logo:hover {
    background: url("../images/logoHover.svg") no-repeat;
}

.container {
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 8%;
    padding-top: 7%;
    padding-bottom: 12%;
    background: url("/../images/loginBackground.svg") center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.form-title {
    text-align: center;
    margin: auto;
    font-size: 30px;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: bold;
    padding-top: 40px;
    color:#a7cbe8;
}

.login-form {
    width: 50%;
    margin: 0 auto;
}

.form-control {
    margin: 0 auto;
    padding-bottom: 10px;
}

.label-text {
    font-size: 15px;
    font-family: 'Noto Sans Mono', monospace;
    color:#a7cbe8;
}

input[type=email], input[type=password] {
    border: 1px solid;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 6px;
    font-size: 14px;
}

.form-submit {
    text-align: center;
    margin: 2px 0;
    padding-top: 10px;
    padding-bottom: 14px;
    border: 1px;
    border-color: #A7CBE8;
    font-size: 17px;
    font-family: 'Noto Sans Mono', monospace;
    color: #A7CBE8;
}

.form-submit:hover {
    border: 1px;
    border-color: #81F57C;
    color: #81F57C;
}

.form-info {
    text-align: center;
    margin-top: 2%;
    font-size: 14px;
    font-family: 'Noto Sans Mono', monospace;
    color:#a7cbe8;
}

.loginlink {
    font-style: italic;
}

.loginlink:hover {
    color: #81F57C;
}
